<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Page</title>
</head>
<body>
    <nav className="navbar">
        <div className="dashboard-title">
            <h1>Bank Dashboard</h1>
        </div>
        <div className="left-nav">
            <img src="./src/assets/icons8-user-50.png" />
        </div>
    </nav>

    <div className="sidebar">
        <div className="menu">
            <div className="item"><a href='#'>My Accounts</a></div>
            <div className="item"><a href=''>Bill Payments</a></div>
            <div className="item"><a href=''>Transfer Funds</a></div>
            <div className="item">
                <a href='#' className="sub-btn">EcoCredit</a>
                <div className="sub-menu">
                    <a href='#' class="sub-item">Dashboard</a>
                    <a href='#' class="sub-item">Achievements</a>
                    <a href='#' class="sub-item">Trends</a>
                    <a href='#' class="sub-item">Leaderboard</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>